<div class="fixed-bottom position-static">

    <div class="text-center foot-type border-bottom">
        <p>About Us</p>
        <p>Innovation Management</p>
        <p>Technical Recruitment</p>
        <p>University Program</p>
        <p>Developers Wiki</p>
        <p>Blog</p>
        <p>Press</p>
        <p>Careers</p>
        <p>Reach Us</p>
    </div>

    <div class="row m-2">

        <div class="col-sm-3">
            <img class="foot-img"
                 src="https://upload.wikimedia.org/wikipedia/commons/e/e8/HackerEarth_logo.png">
        </div>

        <div class="col-sm-3"></div>

        <div class="foot-type row">

            <p>Site Language: </p>

            <div class="dropdown">
                <button style="background-color: white; color: darkgray" class="btn dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    English
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Français</a>
                    <a class="dropdown-item" href="#">Français</a>
                    <a class="dropdown-item" href="#">Français</a>
                    <a class="dropdown-item" href="#">Français</a>
                </div>
            </div>

            <p> | </p>

            <p>Terms and Conditions</p>

            <p> | </p>

            <p>Privacy</p>

            <p> | </p>

            <p>© 2018 HackerEarth</p>

        </div>

    </div>

</div> <!-- Footers -->

<!-- Google Maps API -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3key=AIzaSyA2OPzJF0nxH6Ud5zDrIjMeo1HDVqxE7Uc&callback=initMap&sensor=false">
</script>
