<!DOCTYPE html>
<html en>
<head>
    <title>TBD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/maps_style.css">
</head>

<body>

    <div>Space for map</div>
    <div id="map-goes-here"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2OPzJF0nxH6Ud5zDrIjMeo1HDVqxE7Uc&callback=initMap"
            async defer></script>
    <script src="js/mapsjs.js"></script>
</body>
</html>
