.bg-nav {

    background-color: #323754;
}

.nav-text {

    font-size: 30px;
}

.nav-img {

    margin-top: -10px;
    height: 35px;
}

.navbar-toggler .toggler-example {

    cursor: pointer;
}

.font-text {

    font-family: sans-serif;
}

.bgc {
    background-color: #230739;
    border: #230739;
}

.foot-type p{

    color: darkgrey;
    font-size: 17px;
    display: inline-block;
    margin: 15px;
}

.foot-img {

    height: 35px;
    width: 35px;
    float: right;
}